@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';

:root {
  --header-height: 56px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden;
    font-family:
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      sans-serif;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --color-white: #ffffff;
  --color-blue-300: #e8f3ff;
  --color-blue-600: #3182f6;
  --color-gray-500: #f9fafb;
  --color-gray-46: #6b7684;
}
